

@import "reset.css";
/* -------------------- */
/* -- General Styles -- */
/* -------------------- */
#wrap{
	width:960px;
	margin:0 auto;
}
body{
	font-family:arial, sans-serif;
	/*background-color:#fff;*/
	color:#555;
	line-height:24px;
	font-size:14px;
}
h1{
	font-size:38px;
	margin:0 0 30px 0;
}
h2{
	font-size:28px;
	margin:40px 0 30px 0;
}
h3{
	font-size:24px;
	margin:40px 0 20px 0;
}
h4{
	font-size:18px;
	margin:30px 0 15px 0;
}
h5{
	font-size:18px;
	margin:30px 0 5px 0;
}
p{
	margin:0 0 15px 0;
}
a{
	text-decoration:none;
	color:#2684cd;
}
a:hover{
	color:#555;
	cursor:pointer;
}

.hide{
	display:none;
}
.title{
	margin-top:0;
}
.post-line{
	clear:both;
	/*border-bottom:1px #ddd dotted;*/
	margin:40px 0 45px 0;
}
.cache-images{
	display:none
}
/* ------------ */
/* -- Header -- */
/* ------------ */
#header{
	height:150px;
	padding:45px 0 0 0;
}
#header img, #header h1{
	float:left;
}
#header h1{
	font-size:50px;
	margin:32px 0 0 5px;
}

/* ---------------------- */
/* -- Featured Section -- */
/* ---------------------- */
#featured-section{
	float:right;
	margin:10px 0 0 0;
}
#featured-section h2{
	/*background:url(../images/featured-title.png) no-repeat;*/
	width:953px;
	height:56px;
	text-indent:-9999px;
	margin-top:0;
}
#circles{
	float:left;
	margin:10px 0 0 0;
}
#circles img{
	float:left;
	border:none !important;
	margin:0 0 0 36px;
	width:213px;
	height:205px;
}
#featured-section .circle-red{
	background:url(../images/MoviePink.png) no-repeat;
}
#featured-section .circle-pink{
	background:url(../images/MovieBlackkk.png) no-repeat;
}
#featured-section .circle-orange{
	background:url(../images/MovieYellow.png) no-repeat;
}
#featured-section .circle-yellow{
	background:url(../images/MovieBlack.png) no-repeat;
}
#featured-section .first{
	margin-left:0;
}
/* ------------------ */
/* -- Image Slider -- */
/* ------------------ */
#featured-section #image-slider{
	float:left;
	/*background:url(../images/img-slider-bg.png) repeat-x;*/
	width:960px;
	height:250px;
	margin:50px 0 0 0;
	border:1px #ddd solid;
	background-color:#fff;
}
.jcarousel-container-horizontal{
	float:left;
	margin:15px 0 0 30px !important;
}
#image-slider #mycarousel li{
	float:left;
	width:264px;
	height:260px;
	margin:0 0 0 0px;
}
#image-slider #mycarousel li.first{
	margin-left:0;
}
#image-slider #mycarousel img{
	margin:9px 0 0 9px;
	padding:5px;
	border:1px #ddd solid;
	width:240px;
	height:165px;
}
.jcarousel-prev-horizontal{
	margin:90px 0 0 -18px;
}
.jcarousel-next-horizontal{
	margin:90px 50px 0 0;
}
/* ---------------- */
/* -- Front Page -- */
/* ---------------- */
#frontpage-main{
	float:left;
	margin:115px 0 50px 0;
	background-color:#fff;
}
#frontpage-main h3{
	margin-top:0;
}
#frontpage-content{
	float:left;
	width:379px;
	padding:0 100px 0 0;
	border-right:1px #ddd dotted;
}
#frontpage-content p{
	font-size:16px;
	line-height:24px;
}
#frontpage-sidebar{
	float:right;
	width:380px;
	padding:0 0 0 100px;
}
#frontpage-sidebar .meta, #frontpage-sidebar .meta a{
	color:#aaa;
	font-size:18px;
}
#frontpage-sidebar .blog-title{
	font-size:18px;
}
#frontpage-sidebar .read-more{
	display:block;
	background:url(../images/blue-button-bg.png) no-repeat;
	width:141px;
	height:34px;
	color:#fff;
	text-align:center;
	padding:5px 0;
}
#frontpage-sidebar .read-more:hover{
	background:url(../images/red-button-bg.png) no-repeat;
}
.blue-bullets{
	float:left;
	margin:10px 0 0 0;
}
.blue-bullets li{
	background:url(../images/blue-bullet.png) no-repeat;
	height:21px;
	position:relative;
	padding:0px 0 18px 35px;
}


/* ------------ */
/* -- Footer -- */
/* ------------ */
#footer{
	float:left;
	border-top:1px #ddd dotted;
	margin:20px 0 0 0;
	padding:15px 0 50px 0;
	width:100%;
}
